# Environments
/venv/

# PyCache
/__pycache__/

# Private Files
Airflow/scripts/commands.sh
Airflow/scripts/private_file.py
Airflow/scripts/project.py
Airflow/scripts/.env
Airflow/scripts/__pycache__/

# Airflow
Airflow/.env
Airflow/logs

# Superset
Superset/.env
