# Environments
/venv/

# PyCache
/__pycache__/

# Commands .sh
/model_run.sh
/run_airflow.sh
/run_containers.sh

# SuperSet
/Superset/.env
/Superset/model_dashboard

# Databases
/Databases/PostgreSQL/.env
/Databases/Milvus/.env
/Databases/Milvus/Milvus_volumes/

# Airflow
/Airflow/.env
/Airflow/Dags/__pycache__
/Airflow/Dags/.env
/Airflow/Libs/__pycache__
/Airflow/Libs/.env
/Airflow/logs
/Airflow/Scripts/__pycache__
/Airflow/Scripts/.env
